.percent {
    font-size: 64px;
    text-align: center;
    justify-content: center;
    color: var(--accent);
}

.percent-box {
    padding-right: 0;
}

.rmap {
    background-color: var(--bg);
    color: white;
    font-size: 32px;
}

.item {
    font-size: 24px;
}

.content {
    font-size: 12px;
}