.top-row-img {
    margin-bottom: 12px;
    
}

.bottom-row-img {
    margin-top: 12px;
}

.top-row-img, .bottom-row-img, .econ-img {
    max-width: 100%;
    border-radius: 8%;
}

.disc-btn {
    background-color: #5865F2;
    border-color: #5865F2;
    border-radius: 20px;
    margin-right: 0.3vw;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.75vw;
    text-transform: uppercase;
    
}
.disc-btn:hover {
    background-color: var(--glow);
    border-color: var(--glow);
}

.os-btn {
    background-color: #2081E2;
    border-color: #2081E2;
    border-radius: 20px;
    margin-left: 0.3vw;
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
    font-size: 0.75vw;
    text-transform: uppercase;
}
.os-btn:hover {
    background-color: var(--glow);
    border-color: var(--glow);
}